/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

h1 {
    text-align: center;
}

#simulador {
    max-width: 600px;
    margin: 0 auto;
}

input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button {
    background-color: #3c68a0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #254b7c;
}

ul {
    list-style-type: square;
    padding: 0;
    font-family: "Indie Flower", cursive;
    font-weight: 600;
    font-style: normal;
}

li {
    padding: 5px 0;
}

.piePagina{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    color: #393a39;
    margin-top: 5%;
    text-align: center;
}